modules.*
*raid*
*~
*.mod.c
*.cmd
*.o
*.ko
\#*
.#*
kernel/buildtag.h
kernel/mars_config.h
*.orig
*.rej
*.bak
*alternate*.conf
*internal*.conf

# Debian Maintain files
debian/mars-utils/
debian/marslight-dkms/
debian/*.debhelper*
debian/*.substvars
debian/files
